extends layout

block content
  link(rel='stylesheet', href='/src/css/timePicker.css')
  if (user)
    h1 Welcome #{user}

    .timetables
      ul#tables
        li There are no Time tables here yet.

        button(onclick="ttmanager()") Create Time Table

        script const createTimeTable = () => {ttmanager();};
        script(src="/src/js/ttmanager.js")
        script(src="/src/js/timePicker.js")

    section(style="display: none;")#editorField
      .settings
        input(type="text", name="name", placeholder="Name")
        input(type="number", name="cols", value="7", placeholder="Days")#days
        input(type="number", name="rows", value="6", placeholder="Periods")
          
      table
        - for (let i = 0; i < 6; i++) {
          tr
            - for (let j = 0; j < 7; j++) {
              td(onclick="editField(this)")
                span.day= i
                span.period= j
            - }
        - }
      
      .getData
        .wrapper
          h2 Edit Event / Subject
          br
          input(type="text", placeholder="Event / Subject Name")#name

          div(value="", onclick="openTimePicker(this)").timePicker#to From
          div(value="", onclick="openTimePicker(this)").timePicker#from To

          input(type="text", placeholder="Event / Subject Location")#where

          script const openTimePicker = obj => pickTime(obj);
          script const closeDialog = () => document.querySelector(".getData").style.display = "none";

        button(onclick="confirmEvent()").ok Ok
        button(onclick="closeDialog()").cancel Cancel

      .prompt
        .clock

      button Save
        img(src="/res/save.svg")
      button Cancel
        img(src="/res/cancel.svg")

  else
    h1 You need to 
      a(href="/login") Log in 
      label Or 
      a(href="/signup") Sign Up 