extends layout

block content

  //-script(src="/src/js/socket.io.js")
  //-script.
    var socket;
    window.addEventListener("load", () => socket = io.connect(window.location.href.split("/")[0] + "//" + window.location.href.split("/")[2]));

  script(src="src/js/timeKeeper.js")
  link(rel='stylesheet', href='/src/css/timePicker.css')
  if (user)
    h1 Welcome #{user}

    .timetables
      ul#tables
        li There are no Time tables here yet.

        button(onclick="ttmanager()") Create Time Table

        script const createTimeTable = () => {ttmanager();};
        script(src="/src/js/ttmanager.js")
        script(src="/src/js/timePicker.js")

    section(style="display: none;")#editorField
      .settings
        input(type="number", name="cols", value="7", placeholder="Days", onchange="changedays(this.value)", min="1", max="20")#days
        input(type="number", name="rows", value="6", placeholder="Periods", onchange="changeperiods(this.value)", min="1", max="20")#periods

      .tableCont
        table
          - for (let i = 0; i < 7; i++) {
            tr(class='day' + i)
              - for (let j = 0; j < 6; j++) {
                td(onclick="editField(this)", class="period" + j)
                  span.day Day #{i + 1}
                  br
                  span.period Period #{j + 1}
              - }
          - }
      
      .getData
        .wrapper
          h2 Edit Event / Subject
          br
          input(type="text", placeholder="Event / Subject Name")#name
          br
          input(type="text", placeholder="Event / Subject Location")#where

          .timePickerField
            div(value="", onclick="openTimePicker(this)").timePicker#from From
            div(value="", onclick="openTimePicker(this)").timePicker#to To

          script const openTimePicker = obj => pickTime(obj);
          script const closeDialog = () => resetEditor();
          script function Alert (str) { document.querySelector("#alert-wrapper").innerHTML = str; document.querySelector("#alert").style.display = "block"; }

        button(onclick="confirmEvent()").ok Ok
        button(onclick="closeDialog()").cancel Cancel

      .prompt
        input(type="Checkbox")#amorpm
        label(for="amorpm") PM
        .clock

      #alert
        #alert-wrapper

      button(onclick="closeAlert()").ok OK
      
      script const closeAlert = () => document.querySelector("#alert").style.display = "none";

      button(onclick="save()") Save
        img(src="/res/save.svg")
      button Cancel
        img(src="/res/cancel.svg")

      //- script const save = () => socket.emit("saveTable", exportTable());

  else
    h1 You need to 
      a(href="/login") Log in 
      label Or 
      a(href="/signup") Sign Up 