extends layout

block content
  
  h1 The devs and I still need to build the homepage, kinda pathetic, but that's the way it is.

  //h1= title
  //br
  //p Welcome to #{title}!
  //p
  //  span Do you have a Timetable so difficult to keep track of that you can't cope with it?
  //  br
  //  span Do you need a way of being reminded conveniently when you have what subject?
  //  br
  //  span Do you know someone who does?
  //  br
  //
  //  h2 Well #{title} is the perfect place for you and your friends!