extends layout

block content
  form(action="/signup", method="POST")#signup
    h1 Sign Up

    div#container
      .un
        span.label Email
        br
        if (data.email)
          input(type="email", name="email", placeholder="Email").invalid
          span= data.email

        else
          input(type="email", name="email", placeholder="Email")

      br
      .pw
        span.label Username
        br
        if (data.un)
          input(type="text", name="un", placeholder="Username").invalid
          // span= un
            
        else
          input(type="text", name="un", placeholder="Username")
            
      br
      .un
        span.label Password
        br
        if (data.pw)
          input(type="password", name="pw", placeholder="Password").invalid
          // span= pw

        else
          input(type="password", name="pw", placeholder="Password")

      br
      .pw
        span.label Confirm Password
        br
        input(type="password", name="pwc", placeholder="Confirm Password")
        
      br
      input(type="submit", value="Sign Up")


    .acont
      a(href="/login") I already have an account
      a(href="/cou") Conditions of use

      