footer {
  width: 100vw;
  display: none;
  position: absolute;
  float: left;
  background: #ddd;
  padding: 15px;
  bottom:0px;
}
footer .group {
  width: 50%;
  text-align: center;
  display: block;
  float: left;
  position: relative;
}
footer li {
  list-style-type: none;
}