form.user-account-actions select {
  width: 50%;
  border: none;
  background: transparent;
  font-size: 12pt;

  color: #333;
}
form.user-account-actions select option {
  background: #fff;
  box-shadow: none;
  border: none;
  color: #333;
  text-align: center;
}
form.user-account-actions select option#user {
   font-weight: bold;
}